/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.flex-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* header */

header {
    height: 8vh;
    background-color: orange;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 8vw;
    z-index: 1;

}

.genere {
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.logo {
    height: 4vh;
}

.icone {
    height: 2vh;
    margin: 0 1vw;
    filter: brightness(0) invert(100%);
}

/* main */

main {
    margin: 0 auto;
    width: 100%;
    padding: 10vh 8vw;
}

.boxfoto {
    width: 18vw;
    margin-top: 5vh;
    position: relative;
}

.foto {
    width: 18vw;

}

.foto2 {
    width: 18vw;
    position: absolute;
    top: 0;
    left: 0;

}

.prezzo-rosso {
    font-weight: bold;
    color: red;
}

.prezzo-barrato {
    text-decoration: line-through;
}

.sconto {
    padding: 0.1vh 0.5vw;
    background-color: red;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 0;
    top: 75%;
}

.sostenibilita {
    padding: 0.1vh 0.5vw;
    background-color: green;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 75%;
    left: 2.5vw;
}

.sostenibilital {
    padding: 0.1vh 0.5vw;
    background-color: green;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 75%;
    left: 0;

}

.heart {
    height: 3vh;
    position: absolute;
    top: 5%;
    right: 0%;
    background-color: white;
}

.foto2:hover {
    opacity: 0%;
}

/* footer */

footer {
    padding: 2vh 8vw;
    height: 10vh;
    background-color: #222;
    color: white;
}

.footer-info {
    margin-right: 0.5vw;

}

.logo-social {
    margin-top: 1vh;
    height: 2vh;
    filter: brightness(0) invert(100%);
}